<p id="notice"><%= notice %></p>


  <h2> <%= @beer_club.name %> <%= @beer_club.city %></h2>



<p>
  Founded <%= @beer_club.founded %>
</p>

<h3>Members</h3>
<ul><% @beer_club.members.each do |member| %>
      <li><%= link_to member.username, member %>
      </li>
  <% end %>
</ul>

<% if current_user %>
    <% unless @beer_club.members.find_by id:current_user.id %>

        <%= form_for(@membership) do |f| %>
            <%= f.hidden_field :beer_club_id %>

            <%= f.submit value:"join this club", class:"btn btn-success"%>
        <% end %>


<% end %>

    <% if @beer_club.members.find_by id:current_user.id %>
        <%= form_for(@membership, method: "delete") do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value: "end the membership", class:"btn btn-warning"  %>
    <% end %>
<% end %>
<% end %>
    <br>




<%= link_to('Edit', edit_beer_club_path(@beer_club), class:"btn btn-primary") if current_user %>
<%= link_to('Destroy', @beer_club, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger")  if current_user%>

