<p id="notice"><%= notice %></p>

<h2><%= @user.username %></h2>

<p>
  <% if @user.ratings.empty? %>
      <%= @user.username%> hasn't rated beers yet!
  <% else %>
      <%= @user.username%> has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.rating_average %>
  <% end %>
</p>

<% unless @user.ratings.empty? %>
<p><%= @user.username%>'s favorite style is <%= @user.favorite_style%></p>
<p><%= @user.username%>'s favorite brewery is <%= @user.favorite_brewery.name%></p>
    <p><%= @user.username%>'s favorite beer is <%= @user.favorite_beer.name%></p>
<% end %>

<p><h3>Ratings</h3>
<ul><% @user.ratings.each do |rating| %>
      <li><%= rating.to_s %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>
</p>

<p><h3>Memberships</h3>
<ul><% @user.memberships.each do |mship| %>
      <li><%= link_to mship.beer_club.name, beer_club_path %>

      </li>
  <% end %>
  </p>

  <% if @user == current_user %>
      <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to 'Edit', edit_user_path(@user) %>
  <% end %>

