<p id="notice"><%= notice %></p>

<h2>
  <strong>Name:</strong>
  <%= @brewery.name %>
</h2>
<p>
  <i>Established in <%= @brewery.year %></i>
</p>
<p>Number of beers: <%=@brewery.beers.count%></p>


  <% @brewery.beers.each do |beer| %>
    <ul> <%= link_to beer.name, beer %> </ul>
  <% end %>


<p>
  <% if @brewery.ratings.empty? %>
      Brewery doesn't have rated beers!
  <% else %>
      Brewery has <%= pluralize(@brewery.ratings.size, 'rating') %>, average <%= @brewery.rating_average %>
  <% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %>



