<%= form_for(@beer) do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% @beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= form_for(@beer) do |f| %>
        <div class="form-group">
          <div class="col-xs-4">
            Beer: <%= f.text_field :name %> <br>
            Style: <%= f.select :style, options_for_select(@styles) %> <br>
            Brewery: <%= f.select :brewery_id, options_from_collection_for_select(@breweries, :id, :to_s) %> <br>
          </div>
            <%= f.submit %> <br>
        </div>
    <% end %>


<% end %>