<p id="notice"><%= notice %></p>

<p>
  <h3>Name: <%= @beer.name %></h3>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>

<p>
  <% if @beer.ratings.empty? %>
    Beer hasn't been rated yet!
    <% else %>
        Beer has <%= pluralize(@beer.ratings.size, 'rating') %>, average <%= @beer.rating_average %>
      <% end %>
</p>

<%= link_to('Edit', edit_beer_path(@beer)) if current_user %> |
<%= link_to('Destroy', @beer, method: :delete, data: { confirm: 'Are you sure?' }) if current_user %>




